<div class="max-w-max mx-auto">
  <h2 class="text-3xl font-bold mb-4">Create New User</h2>
  <div class="bg-white border border-[#E2E4E5] rounded-md shadow-md p-8">
    <%= render 'form', user: @user %>
  </div>
</div>
